ion-grid {
    height: 100%;
    ion-row {
        height: 100%;
        [image]{
            margin-bottom: 50px;
        }
        
        ion-button{
            --background: #062f77;
        }
    }
}
