<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Disponibilidad
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh(true,$event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="doRefresh(false)">
      <ion-icon name="refresh"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card>
    <ion-item>
      <ion-label>Disponibilidad</ion-label>
      <ion-select placeholder="Selecciona una Disponibilidad" [(ngModel)]="form.disponibilidad">
        <ion-select-option value="diaria">DIARIA</ion-select-option>
        <ion-select-option value="semanal">SEMANAL</ion-select-option>
        <ion-select-option value="actual">ACTUAL</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Inicio</ion-label>
      <ion-datetime placeholder="Selecciona una Fecha" 
        [value]=initDate 
        [monthNames]=customMonthNames
        [dayNames]=customDayNames 
        [displayFormat]="disponibilidad == 'semanal' ? 'DD/MM/YYYY' : 'DD/MM/YYYY HH:mm'" 
        [pickerFormat]="disponibilidad == 'semanal' ? 'DD MMMM YYYY' : 'DD MMMM YYYY HH mm'"
        [(ngModel)]="form.initDate">
      </ion-datetime>
    </ion-item>
    <ion-item [hidden]="disponibilidad != 'semanal'">
      <ion-label>Final</ion-label>
      <ion-datetime placeholder="Selecciona una Fecha" 
        [value]=finalDate 
        [monthNames]=customMonthNames
        [dayNames]=customDayNames 
        display-format="DD/MM/YYYY" 
        picker-format="DD MMMM YYYY"
        [(ngModel)]="form.finalDate">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Sucursal</ion-label>
      <ion-select placeholder="Selecciona una Sucursal" [(ngModel)]="form.sucursal">
        <ion-select-option value="">TODAS</ion-select-option>
        <ion-select-option *ngFor="let sucursal of sucursales" [value]="sucursal.cat_sucursal_id">{{sucursal.cat_sucursal_nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Fruit Consumption</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div #graphic style="display:block;"></div>
    </ion-card-content>
  </ion-card>

</ion-content>